
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.page {
    max-width: 1300px;
    margin: 0 auto;
}

/*CONTENEDOR - 1 */

.contenedor-1 {
    min-height: 94vh;
    background-position: center center;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    position: relative;
}

.contenedor-1 .esfumado{
    background-image: linear-gradient(to bottom,rgba(9, 9, 9, 0.65), transparent);
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;

}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

header .logo{
    padding: 5px 32px;
    color: white;
    font-size: 42px;
    font-weight: bold;
    z-index: 50;
    text-shadow: 2px 2px 15px black;
}

nav ul{
    display: flex;
}

nav .menu {
    width: 60px;
    height: 60px;
    display: none;
}


nav ul li {
    padding: 10px 30px; 
    z-index: 100;
}

nav ul li:hover{
    background-color: rgba(241, 239, 239, 0.5);
}

nav ul li a{
    color: white;
   border-bottom: 1px solid #fff;
   padding-bottom: 3px;
   letter-spacing: 2px;
   text-transform: uppercase;
}

 .contenedor1-central {
    margin-top: 24vh;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(81, 81, 81);
    margin-bottom: 30px;
}

.contenedor1-central h2 {
    color: #3bcc75;
    font-size: 38px;
}

.contenedor1-central h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    margin: 10px 0;
}

.contenedor1-central h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: white;
}

.contenedor1-central a{
    padding: 10px 32px;
    background-color: #ffc845;
    color: white;
}

.contenedor1-central a:hover{
    color: antiquewhite;
    background-color: #3bcc75;
    text-shadow: none;
}


@media (max-width: 875px){
    nav .menu {
        display: block;
        margin-top: 30px;
        margin-right: 40px;
        z-index: 100;
    }

    nav .menu:hover+ul{
        top: 0;
        right: 0;
    }

    nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -350px;
    background-color: rgba(255, 200, 69, 0.9);
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    z-index: 60;
    }

    nav ul:hover {
        top:0;
        right: 0;
        left: 0;
    }

    nav ul li:hover{
        padding: 10px 60px;
        background-color: rgba(241, 239, 239, 0.5);
    }

    .contenedor1-central{
        margin-top: 22vh;
        line-height: 40px;
    }
}

/*CONTENEDOR 2 */

.contenedor-2{
    display: flex;
    margin-top: 65px;
    margin-bottom: 100px;
}

.contenedor-2 .c2-img {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contenedor-2 .c2-img video {
    width: 82%;
    height: 440px;
    object-fit: cover;
}

.contenedor-2 .c2-contenido {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 50px 20px 0;

}

.c2-contenido h3 {
    color: #3bcc75;
    font-size: 26px;
}

.c2-contenido h2 {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
}

.c2-contenido span{
    font-size: 50px;
    color: #3bcc75;
    font-weight: bold;
    padding: 0;
    margin-bottom: 15px;
}

.c2-contenido p {
    width: 80%;
    text-align: center;
    line-height: 30px;
}

.btn {
        padding: 10px 32px;
        background-color: #ffc845;
        color: white;
        margin-top: 40px;
}

.btn:hover{
    background-color: #3bcc75;
}

@media (max-width: 1000px){
    .contenedor-2{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    
.contenedor-2 .c2-img {
    width: 100%;
    margin-top: 50px;
}

.contenedor-2 .c2-img video{
     width: 100%;
}

.contenedor-2 .c2-contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px ;

}
}

/*CONTENEDOR 3*/

.contenedor-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/mesa.jpg);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    object-fit: cover;
    height: 70vh;
    margin-bottom: 60px;
}

.c3-contenido h2{
    color: #3bcc75;
    text-align: center;
    font-size: 28px;
    text-shadow: 1px 1px 15px rgb(58, 56, 56);
}

.c3-contenido h3 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 15px black;
    text-transform: uppercase;
    font-size: 38px;
}

/*CONTENEDOR 4 */

.contenedor-4{
    display: flex;
    margin-bottom: 100px;
   overflow: hidden;
}

.c4-contenido {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0 0 25px;
}

.c4-contenido h3{
    color: #3bcc75;
    font-size: 26px;
} 
.c4-contenido span{
    font-size: 50px;
    color: #3bcc75;
    font-weight: bold;
    padding: 0;
    margin-bottom: 25px;
}

.c4-contenido p {
    width: 75%;
    text-align: center;
    line-height: 30px;
}

.c4-contenido h2 {
    text-transform: uppercase;
    font-size: 32px;
}


.c4-grid{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,350px);
    grid-template-rows: 234px;
    object-fit: cover;
    gap: 10px;
    justify-content: center;

}

.c4-img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.c4-item{
    overflow: hidden;
}

.c4-img:hover{
    transform: scale(1.15);
    transition: .5s;
}

@media (max-width: 1150px){
    .contenedor-4{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .c4-contenido{
        width: 100%;
        margin-bottom: 60px;
        margin-left: 0;
    }

    .c4-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,350px);
        grid-template-rows: 234px;
        object-fit: cover;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 739px){
    .c4-grid{
        width: 80%;
        display: grid;
        grid-template-columns: 95%;
        object-fit: cover;
        justify-content: center;
        align-items: center;
    }
}

/*CONTENEDOR 4BIS*/


.contenedor-4bis{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


iframe{
    width: 80%;
    height: 250px;
    box-shadow: 8px 8px 18px rgb(189, 183, 183);  
    display:flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 739px){
    iframe{
        width: 100%;}
}


/*CONTENEDOR 5 */

.contenedor-5 {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    
}

.c5-imgs{
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: 10px;
}

.c5-img img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.c5-img {
    width: 90%;
    height: 550px;
    margin: 5px;
    position: relative;
	display: flex;
    justify-content: center;
	align-items: center;
	overflow: hidden;
    object-fit: cover;
}
    

    .c5-img::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: bisque;
        transition: all .5s;
        left: -100%;
        top: 5px;
    }

    .c5-img:hover:before{
        left: 1px;
    }

    .c5-img::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: bisque;
        transition: all .5s;
        left: 100%;
        bottom: 5px;
    }
    
    .c5-img:hover:after{
        left: 15px;
    }

.c5-img h2{
	text-align: center;
    left: 0;
    right: 0;
	position: absolute;
	line-height: 50px;
	font-size: 22px;
	color: #ffc845;
	font-weight: bold;
	transition: .5s;
	transform: scale(1.3);
	opacity: 0;
    font-size: 40px;
    text-shadow: 2px 2px gray;
    text-transform: uppercase;
    width: 90%;
}

.c5-img h2:hover{
	transform: scale(1);
	opacity: 1;
}



.c5-contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.c5-contenido h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

.c5-contenido h3{
    color: #3bcc75;
    font-size: 26px;
    margin-top: 30px;
} 

.c5-contenido span{
    font-size: 50px;
    color: #3bcc75;
    font-weight: bold;
    padding: 0;
    margin-bottom: 25px;
    text-align: center;
}

.c5-contenido p {
    width: 75%;
    text-align: center;
    line-height: 30px;
}

@media (max-width: 980px){
    .c5-contenido {
        margin-right: 0    
    }
}

@media (max-width: 775px){
    .contenedor-5 {
        display: flex;
        flex-direction: column-reverse;
    }

    .c5-contenido {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 42px;
    }
  
        .c5-imgs{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
           padding: 0 20px;
           margin-left: 0;
        }    
}

@media (max-width: 460px){
    .c5-imgs{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    } 
}

/*CONTENEDOR-5bios*/

.contenedor-5bis{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 100px;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario h2 {
    color: black;
    font-size: 38px;
    margin-bottom: 32px;
    text-align: center;
    padding: 0 15px;
}

.formulario span {
    color: #3bcc75;
}

.campo {
    border-radius: 20px;
    padding: 14px 35px;
    background-color: #d4d4d4;
    border: solid 1px #d4d4d4;
    color: #3f3f3f;
    margin: 10px;
}

.campo::placeholder {
    color: #8a8888;
}

.c5bis-btn{
    padding: 12px 75px;
    background-color: #ffc845;
    color: white;
    border: none;
    margin: 15px 0 0 12px;
}

@media (max-width: 870px){
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}    





/*CONTENEDOR 6*/

.contenedor-6 {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c6-nosotros{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 40px;
}

.c6-nosotros h2{
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
}

.c6-nosotros span{
    font-size: 50px;
    color: #3bcc75;
    line-height: 25px;
    margin-bottom: 40px;
    font-weight: bold;

}

.c6-nosotros p{
    width: 500px;
    text-align: center;
    line-height: 32px;
}

.c6-contacto h2{
    color: white;
    text-transform: uppercase;
    font-weight: 100;
}

.c6-contacto {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.redes h2 {
    text-align: center;
    font-weight: 100;
    letter-spacing: 4px;
}

.img-redes {
    margin-top: 12px;
}

.img-redes a img:hover{
    transform: scale(1.2);
}

.mail a{
    margin-top: 5px;
}

.mail h2 {
margin-bottom: 40px;
text-align: center;
font-weight: 100;
letter-spacing: 4px;
}

.img-redes img{
    padding: 20px;
}

.btn1{        
    padding: 10px 32px;
    background-color: #a7a6a3;
    color: white;
    margin-top: 40px;}

    .btn1:hover{
        background-color: #3bcc75;
    }

    @media (max-width: 787px){
        .c6-contacto {
            width: 720px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 50px 0;
        }   
        .mail{
            margin: 20px 0 30px;
        }
    }

    @media (max-width: 730px){
        .c6-nosotros {
            width: 550px;
        }
        .c6-contacto {
            width: 550px;
        }   
    }

    @media (max-width: 575px){
        .c6-nosotros {
            width: 380px;
        }

        .c6-nosotros p{
            width: 380px;
        }

        .c6-contacto {
            width: 380px;
        } 
    }